<!-- updateevent.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Event</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Link to external stylesheet -->
</head>
<body>
  <nav class="navbar">
    <h1>My Events</h1>
    <div class="links">
      <a href="/">Home</a>
      <a class="new-item-link" href="/addevent">New Event</a>
    </div>
  </nav>

  <div class="content">
    <div class="update">
      <h2>Update Event</h2>
      <form action="/single-event/<%= event._id %>?_method=PUT" method="POST">
        <label>Title:</label>
        <input type="text" value="<%= event.title %>" id="title" name="title" required />

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required><%= event.description %></textarea>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required value="<%= event.date.toISOString().substr(0, 10) %>" />

        <!-- <label>Author:</label>
        <select name="author">
          <option value="sami">Sami</option>
          <option value="rami">Rami</option>
        </select> -->

        <label for="location">Location:</label>
        <input type="string" id="location" name="location" value="<%= event.location %>" />

        <button type="submit">Update Event</button>
      </form>
    </div>
  </div>
</body>
</html>